# Dependencies
node_modules/

# Production & Build
dist/
build/
backend/dist/
frontend/dist/

# Environment Variables (Bao mat)
.env
.env.*
!.env.example

# IDEs & System
.idea/
.vscode/
*.swp
*.iml
.DS_Store
Thumbs.db

# Python / Virtual Env / Chatbot
.venv/
.venv-*/
chatbot/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

